.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  /* animation: fade-in linear both; */
  /* animation-timeline: view(); */
  /* animation-range: entry 0% cover 60%; */
}

.grid_1-1:nth-of-type(even) {
  direction: rtl;
}

.grid_1-1:nth-of-type(even) > * {
  direction: ltr;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
    translate: -50px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
} */

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin: 100px auto;
  max-width: 1400px;
  padding: 0 30px;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  align-items: center;
  margin-top: 80px;
}

.footer-grid {
  display: grid;
  place-items: center;
  height: 250px;
  gap: 10px;
  margin-top: 50px;
}

.footer-grid img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: linear-gradient(360deg, #141935, 50%, transparent);
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
}

.footer-grid button {
  grid-area: 1 / 1;
  margin-top: 65px;
}

.footer-grid svg {
  grid-area: 1 / 1;
  margin-top: 150px;
  width: 100px;
  height: 60px;
}

.footer-grid button:hover {
  background-color: #ffb94d;
}

@media only screen and (max-width: 1024px) {
  .grid_1-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .footer-grid {
    height: 220px;
  }

  .footer-grid button {
    margin-top: 55px;
  }

  .footer-grid svg {
    margin-top: 135px;
  }
}

@media only screen and (max-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0px;
    animation: none;
    animation-timeline: none; /* Hver card tracker sin egen synlighed */
    animation-range: none;
  }

  .grid_1-1-1 {
    display: flex;
    padding: 0 20px;
    gap: 20px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    align-items: center;
    margin: 10px auto;
    max-width: 1400px;
    padding: 0 30px;
  }

  .footer-grid svg {
    width: 80px;
    height: 60px;
  }
}
