* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #000e25;
}

header {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  background-color: transparent;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

nav {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: normal;
  font-size: 19px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffd685;
}

.logo {
  display: flex;
  justify-items: flex-start;
  height: 60px;
  width: auto;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

.hero {
  display: grid;
  place-items: center;
  position: relative;
}

.hero svg {
  grid-area: 1/1;
  margin-top: 650px;
}

.hero svg {
  position: absolute;
  bottom: 40px;

  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.mobile {
  max-width: 250px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.desktup {
  max-width: 400px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.link a {
  color: #ffd685;
  text-decoration: none;
}

.link a:hover {
  color: #e2be76;
}

.hero img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: linear-gradient(180deg, #141935, 50%, transparent);
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
}

.hero h1 {
  grid-area: 1 / 1;
  color: #ffd685;
  font-family: "DM Serif Display", serif;
  z-index: 2;
  justify-self: center; /* horizontal center */
  align-self: start; /* vertical start (top) */
  margin-top: 130px; /* optional spacing from top */
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: #ffd685;
}

.tema h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #ffd685;
}

.tema p {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 25px;
  font-style: normal;
  color: #f5f5f5;
  line-height: 25px;
}

.button-read {
  background-color: #ffd685;
  border-color: #ffd685;
  border-style: none;
  border-radius: 50px;
  border-width: 15px;
  padding: 8px 25px 8px 25px;
  margin: 30px 50px 20px 0px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  transition: 0.2s ease-in-out 0s;
}

.button-read:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #e2be76;
}

#button-read {
  background-color: #ffd685;
  border-color: #ffd685;
  border-style: none;
  border-radius: 50px;
  border-width: 15px;
  padding: 8px 25px 8px 25px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    top: 0;
    z-index: 1000;
  }

  .menu {
    display: none;
  }

  .menu a:hover {
    color: #141935;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    margin-right: 20px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffd685;
    position: absolute;
    top: 80px;
    width: 25%;
    z-index: 1;
  }

  nav {
    flex: 3;
    display: flex;
    margin-left: 20px;
    justify-content: flex-end;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  nav.active .menu li {
    margin: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }

  .logo {
    max-width: 125px;
    width: 100%;
    margin-left: 11px;
  }

  .hero h1 {
    grid-area: 1 / 1;
    color: #ffd685;
    font-family: "DM Serif Display", serif;
    z-index: 2;
    justify-self: center; /* horizontal center */
    align-self: start; /* vertical start (top) */
    margin-top: 14px; /* optional spacing from top */
    max-width: 300px;
  }

  .hero svg {
    grid-area: 1/1;
    margin-top: 200px;
  }

  h1 {
    font-size: 20px;
    margin: 20px;
  }

  h2,
  p {
    margin: 30px 50px 20px 50px;
  }

  .tema h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ffd685;
  }

  .tema p {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #f5f5f5;
    line-height: 20px;
  }

  .mobile {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .desktup {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .button-read {
    background-color: #ffd685;
    border-color: #ffd685;
    border-style: none;
    border-radius: 50px;
    border-width: 15px;
    padding: 8px 16px 8px 16px;
    margin: 30px 50px 20px 50px;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .button-read:hover {
    background-color: #e2be76;
  }

  #button-read {
    padding: 8px 25px 8px 25px;
  }
}
