.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
}

.grid_1-1:nth-of-type(even) {
  direction: rtl;
}

.grid_1-1:nth-of-type(even) > * {
  direction: ltr;
}

.footer-grid {
  display: grid;
  place-items: center;
  height: 250px;
  gap: 10px;
  margin-top: 50px;
}

.footer-grid img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: linear-gradient(360deg, #141935, 50%, transparent);
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
}

.footer-grid button {
  grid-area: 1 / 1;
  margin-top: 65px;
}

.footer-grid svg {
  grid-area: 1 / 1;
  margin-top: 150px;
  width: 100px;
  height: 60px;
}

.footer-grid button:hover {
  background-color: #ffb94d;
}

@media only screen and (max-width: 1024px) {
  .grid_1-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .footer-grid {
    height: 220px;
  }

  .footer-grid button {
    margin-top: 55px;
  }

  .footer-grid svg {
    margin-top: 135px;
  }
}

@media only screen and (max-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
  }

  .footer-grid svg {
    width: 80px;
    height: 60px;
  }
}
