.footer-grid {
  display: grid;
  place-items: center; /* center everything both horizontally and vertically */
  height: 250px; /* adjust to match your image height */
  gap: 10px; /* space between button and SVG */
  margin-top: 50px;
}

.footer-grid img {
  grid-area: 1 / 1; /* occupy the full grid cell */
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: linear-gradient(360deg, #141935, 50%, transparent);
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
}

.footer-grid button {
  grid-area: 1 / 1; /* stack on the same grid cell as image */
  margin-top: 65px;
}

.footer-grid svg {
  grid-area: 1 / 1; /* stack on the same grid cell as image */
  margin-top: 150px;
}

.footer-grid button:hover {
  background-color: #ffb94d;
}

.footer-grid svg {
  width: 80px;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
  }
}
